@import '/src/scss/fonts.scss';

.container {
	margin-top: 15px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;

	& .pageNumber {
		font-size: 18px;
		font-family: "PTSans";
		padding: 0 15px;
	}
}