.loader {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 50px;
	border: 1px dashed black;
	animation: rotate 1s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
	
}